header{
    background-color: #4C4444;;
    height: 85px;
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 4px;
}
/* Смысл селектора header и .Header путается, вместо .Header лучше будет header-block */
.Header{
    width: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ImageLogo{
    width: 95px;
    height: 88px;
}
/* Указываешь стиль для ВСЕХ узлов a на странице. Если такое и делаешь, тогда уже в Layout.css */

a {
    text-decoration: none;
    font-size: 35;
    color: #232121;
}
